---
layout: default
---
<div class="row">
    <div class="col-sm-3" style="float : right; margin-top : 2px;">
        <div class="shadow-corner-curl hidden-xs">
            <div class="github-card" data-github="xiaohuishu" data-width="100%" data-height="314" data-theme="medium"></div>

            <script src="https://cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
    </div>
    <div class="post-area post col-sm-9">
        <header>
            <h1>{{ page.title }}</h1>
        </header>
        <hr>
        <article class="page-content">
            {{ content }}
        </article>
    </div>
    <div class="post-area post comment col-sm-9">
        <div id="disqus_thread"></div>

    </div>

</div>
